---
import Layout from '../layouts/Layout.astro';
import Wallet from '../components/Wallet.jsx';
---

<Layout title="Mi Billetera | Snacks Lizama">
    <div class="mt-20"> {/* Margen para que no se esconda tras el navbar */}
        <Wallet client:only="react" />
    </div>
</Layout>